<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title)%>|勤怠システム</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endfi]-->
  </head>
  <body>
    <header class="navber navber-fixed-top navber-invers">
      <div class="container">
        <%= link_to "勤怠システム", '#', id: "logo"  %>
        <nav class="nav navber-nav navbar-rignt">
          <ul>
            <li><%= link_to "ホーム", '#' %></li>
          </ul>
        </nav>
      </div>
    </header>
      <%= yield %>
  </body>
</html>
